# - Summary Statistics

## Random Samples

## Mean Vector and Covariance Matrix

## Summary Statistics
: We will use the automobile data to calculate the summary statistics

In [6]:
import pandas as pd
import numpy as np
from scipy import stats

In [7]:
auto = pd.read_fwf("auto.dat", header = None, 
widths = [19,4,6,3,2,2,4,5,3,5,4,3,4,4], na_values='.')
auto.columns = ['model','origin', 'price', 'mpg', 'rep78', 'rep77', 'hroom', 'rseat', 
                'trunk', 'weight', 'length', 'turn', 'displa', 'gratio']
auto

,model,origin,price,mpg,rep78,rep77,hroom,rseat,trunk,weight,length,turn,displa,gratio
0,AMC CONCORD,A,4099,22,3.0,2.0,2.5,27.5,11,2930,186,40,121,3.58
1,AMC PACER,A,4749,17,3.0,1.0,3.0,25.5,11,3350,173,40,258,2.53
2,AMC SPIRIT,A,3799,22,NaN,NaN,3.0,18.5,12,2640,168,35,121,3.08
3,AUDI 5000,E,9690,17,5.0,2.0,3.0,27.0,15,2830,189,37,131,3.20
4,AUDI FOX,E,6295,23,3.0,3.0,2.5,28.0,11,2070,174,36,97,3.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,VW RABBIT,E,4697,25,4.0,3.0,3.0,25.5,15,1930,155,35,89,3.78
70,VW RABBIT DIESEL,E,5397,41,5.0,4.0,3.0,25.5,15,2040,155,35,90,3.78
71,VW SCIROCCO,E,6850,25,4.0,3.0,2.0,23.5,16,1990,156,36,97,3.78
72,VW DASHER,E,7140,23,4.0,3.0,2.5,37.5,12,2160,172,36,97,3.74
73,VOLVO 260,E,11995,17,5.0,3.0,2.5,29.5,14,3170,193,37,163,2.98

In [8]:
col=[ 'price', 'mpg', 'hroom', 'rseat',  'weight', 'length', 'gratio']
X = auto[col]
X.head()

   price  mpg  hroom  rseat  weight  length  gratio
0   4099   22    2.5   27.5    2930     186    3.58
1   4749   17    3.0   25.5    3350     173    2.53
2   3799   22    3.0   18.5    2640     168    3.08
3   9690   17    3.0   27.0    2830     189    3.20
4   6295   23    2.5   28.0    2070     174    3.70

In [9]:
X.shape

(74, 7)

### 1. Sample Mean Vector ($\bar x$)

In [10]:
#calculate the mean 
ones = pd.DataFrame({'ones':np.ones(len(X))})
x_i = ones.transpose().dot(X)
mean = x_i / len(X)
mean

,price,mpg,hroom,rseat,weight,length,gratio
ones,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108

In [11]:
# compare with the built-in function
X.mean()       #same result

price     6192.283784
mpg         21.297297
hroom        2.986486
rseat       26.817568
weight    3010.810811
length     188.067568
gratio       3.018108
dtype: float64

#### The result matches!

### 2. Sample Covariance Matrix ( $S$)

In [12]:
# calculate the sample covariance 
s = 0
for i in range(len(X)):
    s += (X.iloc[i,:] - mean).transpose().dot((X.iloc[i,:] - mean))

s = s / (len(X)-1)
s

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,-8086.619770,315.401148,3950.367549,1.270005e+06,28977.720289,-434.503565
mpg,-8.086620e+03,33.472047,-1.989078,-8.945020,-3.732025e+03,-103.239541,1.609200
hroom,3.154011e+02,-1.989078,0.705294,1.353665,3.280933e+02,9.672158,-0.140437
rseat,3.950368e+03,-8.945020,1.353665,9.777906,1.438712e+03,43.944002,-0.564117
weight,1.270005e+06,-3732.025176,328.093299,1438.711588,6.144925e+05,16777.615698,-268.835431
length,2.897772e+04,-103.239541,9.672158,43.944002,1.677762e+04,502.091262,-7.057953
gratio,-4.345036e+02,1.609200,-0.140437,-0.564117,-2.688354e+02,-7.057953,0.205394

In [13]:
# compare with in-built function
X.cov()       #same result

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,-8086.619770,315.401148,3950.367549,1.270005e+06,28977.720289,-434.503565
mpg,-8.086620e+03,33.472047,-1.989078,-8.945020,-3.732025e+03,-103.239541,1.609200
hroom,3.154011e+02,-1.989078,0.705294,1.353665,3.280933e+02,9.672158,-0.140437
rseat,3.950368e+03,-8.945020,1.353665,9.777906,1.438712e+03,43.944002,-0.564117
weight,1.270005e+06,-3732.025176,328.093299,1438.711588,6.144925e+05,16777.615698,-268.835431
length,2.897772e+04,-103.239541,9.672158,43.944002,1.677762e+04,502.091262,-7.057953
gratio,-4.345036e+02,1.609200,-0.140437,-0.564117,-2.688354e+02,-7.057953,0.205394

#### The result matches!

### 3. Sample Correlation Matrix ( $R$)

In [14]:
# calculate the sample covariance 
r = []
for i  in range(X.shape[1]):
    for j  in range(X.shape[1]):
        r.append( s.iloc[i,j]/np.sqrt(s.iloc[i,i] * s.iloc[j,j]))

In [15]:
r = np.asarray(r)
r = pd.DataFrame(r.reshape(7,7))
r.index ,r.columns = col, col
r

           price       mpg     hroom     rseat    weight    length    gratio
price   1.000000 -0.475735  0.127825  0.429986  0.551425  0.440162 -0.326317
mpg    -0.475735  1.000000 -0.409379 -0.494444 -0.822896 -0.796368  0.613727
hroom   0.127825 -0.409379  1.000000  0.515470  0.498372  0.513981 -0.368980
rseat   0.429986 -0.494444  0.515470  1.000000  0.586938  0.627170 -0.398064
weight  0.551425 -0.822896  0.498372  0.586938  1.000000  0.955170 -0.756719
length  0.440162 -0.796368  0.513981  0.627170  0.955170  1.000000 -0.695015
gratio -0.326317  0.613727 -0.368980 -0.398064 -0.756719 -0.695015  1.000000

In [16]:
# compare with in-built function
X.corr()       #same result

           price       mpg     hroom     rseat    weight    length    gratio
price   1.000000 -0.475735  0.127825  0.429986  0.551425  0.440162 -0.326317
mpg    -0.475735  1.000000 -0.409379 -0.494444 -0.822896 -0.796368  0.613727
hroom   0.127825 -0.409379  1.000000  0.515470  0.498372  0.513981 -0.368980
rseat   0.429986 -0.494444  0.515470  1.000000  0.586938  0.627170 -0.398064
weight  0.551425 -0.822896  0.498372  0.586938  1.000000  0.955170 -0.756719
length  0.440162 -0.796368  0.513981  0.627170  0.955170  1.000000 -0.695015
gratio -0.326317  0.613727 -0.368980 -0.398064 -0.756719 -0.695015  1.000000

#### The result matches!

# - Statistical Inference on Correlation

## Hypothesis testing <br>
$H_{0}: \rho =  0 \;\;  vs. H_{a}: \rho \neq 0$ <br>
$T = \frac{r\sqrt{n-2}}{\sqrt{1-r^{2}}} \sim t_{n-2} \;\; under \;H_{0}$ <br>

$\underline{Note}$
1. Correlation measures a linear relationship
2. It is still difficult to get a confidence interval for $\rho$

### Example 
Let's  test the significance of the correlation between two input variables.
We will use the applicant data to test the significance of correlations between the
variable pairs (LC,SC), (SC,SMS), and (LC,SMS), respectively.

In [17]:
applicant = pd.read_csv('applican.dat', header = None, delim_whitespace=True)
applicant.columns = ['ID','FL','APP','AA','LA','SC','LC','HON','SMS','EXP',
                     'DRV','AMB','GSP','POT','KJ','SUIT']
applicant.head()

   ID  FL  APP  AA  LA  SC  LC  HON  SMS  EXP  DRV  AMB  GSP  POT  KJ  SUIT
0   1   6    7   2   5   8   7    8    8    3    8    9    7    5   7    10
1   2   9   10   5   8  10   9    9   10    5    9    9    8    8   8    10
2   3   7    8   3   6   9   8    9    7    4    9    9    8    6   8    10
3   4   5    6   8   5   6   5    9    2    8    4    5    8    7   6     5
4   5   6    8   8   8   4   4    9    5    8    5    5    8    8   7     7

We want to test the following hypothesis: <br>
$H_{0} : \rho = 0$ vs. $H_{a} : \rho = 0$ <br>

We will reject the null hypothesis ($H_{0}$) if the population correlation coefficient is significantly different from zero; meaning that the two variables have a signiciant linear relationship.

In [18]:
# calculating the test statistics & p-value
def corr(df,var1,var2):
    n = len(df)
    corr = df[[var1,var2]].corr()
    r = corr.iloc[0,1]
    T = (r * np.sqrt(n-2)) / np.sqrt(1-r**2)
    p =  1 - stats.t.cdf(T,df=n-2)
    return(2*p)

In [19]:
# testing
def test(p,var) :
    if p < 0.05 :
        print( "Reject the null hypothesis: \nThere is sufficient evidence to conclude that there is a significant linear relationship between %s" %var)
    else :
        print("Accept the null hypothesis: \nThere is no sufficient evidence to conclude that there is a significant linear relationship between %s" %var)

### Case 1: (LC,SC)

In [20]:
p1 = corr(applicant,'LC','SC')
test(p1 ,'LC & SC')

Reject the null hypothesis:
There is sufficient evidence to conclude that there is a significant linear relationship between LC & SC

### Case 2: (SC,SMS)

In [21]:
p2 = corr(applicant,'SC','SMS')
test(p2 ,'SC & SMS')

Reject the null hypothesis:
There is sufficient evidence to conclude that there is a significant linear relationship between SC & SMS

### Case 3: (LC,SMS)

In [22]:
p3 = corr(applicant,'LC','SMS')
test(p3 ,'LC & SMS')

Reject the null hypothesis:
There is sufficient evidence to conclude that there is a significant linear relationship between LC & SMS

#### In conclusion, for the 48 applicants in the data, there is a signicficant linear relationship between lucidity & self-confidence, self-confidence & salesmanship, and lucidity & salesmanship.

### Confidence interval for $\rho$

##### 1. Fisher's Method

$100(1-\alpha)\%$ C.I. for $\rho =$ tanh($inv$tan$h(r) \pm z_{\alpha /2} / \sqrt{n-3})$

In [23]:
def Fisher_CI(df,var1,var2,alpha=0.05):
    ''' calculate the confidence interval for correlation between two input variables.
    Parameters
    ----------
    df : input dataframe
    var1, var2 : input variables
    alpha : significance level (0.05 by default)
      Significance level. 0.05 by default
      
    Returns
    -------
    lbd, ubd : float
      The lower and upper bound of confidence intervals
    '''

    r = stats.pearsonr(df[var1],df[var2])[0]
    se = 1/np.sqrt(df[var1].size-3)
    z = stats.norm.ppf(1-alpha/2)
    l, u = np.arctanh(r)-z*se,np.arctanh(r)+z*se
    lbd, ubd = np.tanh((l, u))
    print("The 95% confidence interval (by Fisher's method) is [",round(lbd,4), ",", round(ubd,4),"]")

##### 2. Ruben's Method

Let $u = z_{\alpha/2}$ (e.g. $\alpha = 0.05 \Rightarrow u = 1.96$) and $r^{*} = \frac{r}{\sqrt(1-r^{2}}$ <br>
Let $a = 2n-3-u^{2}$ <br>
      $b = r^{*} \times \sqrt{(2n-3)(2n-5)}$ <br>
      $c = (2n-5-u^{2}) \times r^{*2} - 2u^{2}$
      
<br>
Set $ay^{2} -2by +c =0$ <br>
Let $y_{1}$ and $y_{2}$ be roots of equation
Then $y_{1}= \frac{2b-\sqrt{4b^{2}-4ac}}{2a}$ , $y_{2}= \frac{2b-\sqrt{4b^{2}+4ac}}{2a}$ 
<br>
Finally, $100(1-\alpha)\%$ C.I. for $\rho = \left[ \frac{y_{1}}{\sqrt{1+y_{1}^{2}}},  \frac{y_{2}}{\sqrt{1+y_{2}^{2}}} \right]$

$\underline{Note}$: input: $n,\alpha,r$ & output: C.I. for $\rho$

In [24]:
def Ruben_CI(df,var1,var2,alpha=0.05):
    ''' calculate the confidence interval for correlation between two input variables.
    Parameters
    ----------
    df : input dataframe
    var1, var2 : input variables
    alpha : significance level (0.05 by default)
      Significance level. 0.05 by default
      
      
    Returns
    -------
    lbd, ubd : float
      The lower and upper bound of confidence intervals
    '''

    r = stats.pearsonr(df[var1],df[var2])[0]
    n = df[var1].size
    u = stats.norm.ppf(1-alpha/2)
    r_star = r / np.sqrt(1 -( r**2))
    
    a = 2*n - 3 - (u**2)
    b = r_star * np.sqrt((2*n - 3)*(2*n -5))
    c = (2*n -5 -( u**2)) * r_star**2 - 2*(u**2)
    
    # solve ay**2 - 2by + c = 0
    y1, y2 = (2*b - np.sqrt(4*(b**2) - 4*a*c)) / (2*a), (2*b +  np.sqrt(4*(b**2) - 4*a*c)) / (2*a)
    
    lbd, ubd = y1/ (np.sqrt(1+(y1**2))) , y2/ (np.sqrt(1+(y2**2)))
    print("The 95% confidence interval (by Ruben's method) is [",round(lbd,4), ",", round(ubd,4),"]")

### Case 1: (LC , SC)

In [25]:
Fisher_CI(applicant,'LC','SC')  
Ruben_CI(applicant,'LC','SC')

The 95% confidence interval (by Fisher's method) is [ 0.6793 , 0.8879 ]
The 95% confidence interval (by Ruben's method) is [ 0.6744 , 0.8861 ]

### Case 2: (SC , SMS)

In [26]:
Fisher_CI(applicant,'SC','SMS')  
Ruben_CI(applicant,'SC','SMS')

The 95% confidence interval (by Fisher's method) is [ 0.6671 , 0.8831 ]
The 95% confidence interval (by Ruben's method) is [ 0.6621 , 0.8812 ]

### Case 3: (LC , SMS)

In [27]:
Fisher_CI(applicant,'LC','SMS')  
Ruben_CI(applicant,'LC','SMS')

The 95% confidence interval (by Fisher's method) is [ 0.6956 , 0.8943 ]
The 95% confidence interval (by Ruben's method) is [ 0.6908 , 0.8926 ]

#### The 95% confidence interval for the Fisher's method and Ruben's method are approximately equal.